<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newfido">

    <!--<uses-permission android:name="android.permission.INTERNET" />-->

    <application
        android:name="com.example.newfido.util.ApplicationContextProvider"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.newfido.asm.activity.ASMEntrypoint">
            <intent-filter>
                <action android:name="org.fidoalliance.intent.FIDO_OPERATION" />

                <data android:mimeType="application/fido.uaf_asm+json" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.newfido.client.activity.ClientEntrypoint"
            android:label="@string/title_activity_client_entrypoint">
            <intent-filter>
                <action android:name="org.fidoalliance.intent.FIDO_OPERATION" />

                <data android:mimeType="application/fido.uaf_client+json" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>